Repository Kernel360/KBE5_CKT_FE, pull requests merged in 2025-06, with the labels that each got.

#20 (수정 필요) 운행 일지 목록 조회, 검색 가능
  src/features/monitoring/DrivingLogPage.tsx
  src/features/monitoring/api/drivinglog-api.ts
  src/features/monitoring/types.ts
Labels: ✨ feat

#21 feat: 고객 관리 페이지 리스트 및 필터 개발
  src/features/customer/CustomerListPage.tsx
Labels: ✨ feat

#23 feat: 차량 위치 목록 기반 마커 렌더링 기능 구현
  src/features/monitoring/realtime-monitoring/RealtimeMonitoringPage.tsx
  src/features/monitoring/realtime-monitoring/VehicleCard.tsx
Labels: ✨ feat

#24 chore: 지도 (react-leaflet) 의존성 누락
  package-lock.json
  package.json
Labels: 🧹 chore

#32 feat: 차량 선택 시 지도 이동 및 선택 강조 기능 구현
  public/icon/marker.svg
  src/features/monitoring/realtime-monitoring/RealtimeMonitoringPage.tsx
  src/features/monitoring/realtime-monitoring/VehicleCard.styles.ts
  src/features/monitoring/realtime-monitoring/VehicleCard.tsx
Labels: ✨ feat

#36 feat: 차량 마커 클릭 시 커스텀 팝업 디자인 적용
  src/features/monitoring/realtime-monitoring/RealtimeMonitoringPage.tsx
Labels: ✨ feat

#39 feat: 운행 일지 페이지 최종 완성
  src/components/ui/badge/Badge.styles.ts
  src/components/ui/badge/Badge.tsx
  src/components/ui/badge/types.d.ts
  src/components/ui/input/textarea/TextArea.tsx
  src/features/monitoring/DrivingLogDetailPanel.tsx
  src/features/monitoring/DrivingLogPage.tsx
  src/features/monitoring/api/drivinglog-api.ts
  src/features/monitoring/types.ts
  src/features/vehicle/VehicleRegisterPopup.styles.ts
  src/utils/date.ts
Labels: ✨ feat

#43 fix: 차량 번호판 유효성 검사 추가(숫자 2~3글자+한글 1글자+숫자 4글자만 통과)
  src/features/vehicle/hooks/useVehicleRegister.ts
Labels: 🩹 fix

#45 feat: 사용자 관리 페이지 구현
  src/App.tsx
  src/features/auth/LoginPage.tsx
  src/features/customer/CustomerCreateModal.tsx
  src/features/customer/CustomerDetailPage.tsx
  src/features/customer/CustomerListPage.tsx
  src/layouts/constants.ts
Labels: ✨ feat

#54 feat: 고객 상세 페이지에 대여 정보 API 연동 및 정렬 로직 개선
  src/features/customer/CustomerDetailPage.tsx
Labels: ✨ feat

#52 refactor: 지도 차량 팝업에서 속도 정보(spd) 표시 제거
  src/features/monitoring/realtime-monitoring/RealtimeMonitoringPage.tsx
Labels: ♻️ refactor
