Repository Kernel360/KBE5_CKT_FE, pull requests merged in 2025-07, with the labels that each got.

#58 feat: 차량 운행 내역 조회 및 엑셀 다운로드 UX 개선
  src/features/monitoring/DrivingHistoryPage.tsx
Labels: ✨ feat

#71 feat: Leaflet → 카카오맵 전환 및 차량 마커 클러스터링 기능 구현
  index.html
  src/features/monitoring/realtime-monitoring/RealtimeMonitoringPage.tsx
Labels: ✨ feat

#74 feat: 차량 애뮬레이터 체험 버튼 추가
  src/features/vehicle/VehicleDetailPanel.tsx
Labels: ✨ feat

#82 refactor: 차량 페이지, 공통 컴포넌트 리팩토링
  package-lock.json
  package.json
  src/components/ui/input/date/DateInput.tsx
  src/features/customer/CustomerListPage.tsx
  src/features/monitoring/driving-log/DrivingLogDetailPage.tsx
  src/features/monitoring/driving-log/DrivingLogPage.tsx
  src/features/rental/RentalListPage.tsx
  src/features/rental/hooks/useRentalList.ts
  src/features/rental/types.ts
  src/features/vehicle/VehicleDetailPanel.tsx
  src/features/vehicle/VehicleListPage.tsx
  src/features/vehicle/hooks/useVehicleList.ts
  src/features/vehicle/types.ts
  src/utils/common.ts
  src/utils/kakao.ts
Labels: ♻️ refactor

#83 fix: 차량 선택 시 이전 일별 운행 데이터 초기화
  src/features/monitoring/DrivingHistoryPage.tsx
Labels: 🩹 fix

#87 fix: 실시간 관제 마커 및 UI 관련 버그 수정
  src/features/monitoring/realtime-monitoring/RealtimeMonitoringPage.tsx
  src/features/monitoring/realtime-monitoring/VehicleCard.styles.ts
Labels: 🩹 fix

#88 feat: 도난 차량 마커(stolenCar.svg) 분기 적용
  public/icon/stolenCar.svg
  src/features/monitoring/realtime-monitoring/RealtimeMonitoringPage.tsx
Labels: ✨ feat

#92 Fix: 운행일지, 통계 페이지 계기판 단위 변경 & 사용자 페이지 페이지네이션 수정
  src/features/customer/CustomerListPage.tsx
  src/features/monitoring/DrivingHistoryPage.tsx
  src/features/monitoring/driving-log/DrivingLogDetailPage.tsx
  src/features/monitoring/driving-log/DrivingLogPage.tsx
  src/utils/common.ts
  src/utils/date.ts
Labels: 🐛 bug

#91 feat: SSE 기반 실시간 GPS 마커 업데이트 기능 구현
  package-lock.json
  package.json
  src/features/monitoring/realtime-monitoring/RealtimeMonitoringPage.tsx
  src/features/monitoring/realtime-monitoring/useSse.ts
  vite.config.ts
Labels: ✨ feat

#94 feat: 운행 통계페이지에 툴팁 기능 추가
  package-lock.json
  package.json
  src/features/monitoring/DrivingHistoryPage.tsx
Labels: ✨ feat

#99 chore: package lock 파일 의존성 에러로 인한 의존성 재설치
  package-lock.json
Labels: 🧹 chore
